<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Chapdex Search Results</title>
</head>
<h2>Results<h2>
<body>
<ul>
<% for(i=0;i<gifs.length;i++){ %> <img src=" <%= gifs[i] %>"></br><% } %>
</ul>
<a href="/">Back to Search</a>
</body>
</html>
